@import '../Utils/variables/variable';
@import '../Utils/mixins/mixin';
@import '../composants/composants';
@import '../base/base';


body {
    background-color: $primaryColor;
}

h1 {
    @include titlePrimary;
}


article:nth-of-type(2):hover {
    opacity: 0.5;

}
article:nth-of-type(3) {
    opacity: 0.5;

}
article:nth-of-type(3):hover {
    opacity: 1;

}
h2::after {
    //les speudo class "after" et "before" sont de type inline
    content: '';
    height: 2px;
    width: auto;
    background-image: linear-gradient(321deg, rgb(203, 120, 38), rgb(211, 200, 46), rgb(222, 15, 15), green);
    display: block;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;

}




@media only screen and (max-width: 600px) {
    section {
        flex-direction: column;
    }
    article{
        margin-bottom: 20px;
    }
}